
.buttonCource{
    padding: 10px;
    font-size: 18px;
    background-color: inherit;
    border: 1px solid #b1b1b1;
    border-radius: 5px;
    transition: 0.3s;
    width: 100%;
    &:hover{
        background-color: #f0f0f0;
        border: 1px solid #8b8b8b;
    }
    &:active{
        transform: translateY(2px);
    }
}