
.posts__title{
    font-size: 32px;
    font-weight: 700;
    margin-top: 10px;
}

.postAnim-enter {
    opacity: 0;
}
.postAnim-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.postAnim-exit {
    opacity: 1;
}
.postAnim-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}